@font-face { font-family: 'Exo2-LightCondensed'; src: url('../fonts/Exo2-LightCondensed.eot'); src: url('../fonts/Exo2-LightCondensed.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-LightCondensed.woff2') format('woff2'), url('../fonts/Exo2-LightCondensed.woff') format('woff'), url('../fonts/Exo2-LightCondensed.ttf') format('truetype'),
    url('../fonts/Exo2-LightCondensed.svg') format('svg'); font-weight: normal; font-style: normal;
}
@font-face {
  font-family: 'Exo2-SemiBoldCondensed'; src: url('../fonts/Exo2-SemiBoldCondensed.eot'); src: url('../fonts/Exo2-SemiBoldCondensed.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo2-SemiBoldCondensed.woff2') format('woff2'), url('../fonts/Exo2-SemiBoldCondensed.woff') format('woff'), url('../fonts/Exo2-SemiBoldCondensed.ttf') format('truetype'),
    url('../fonts/Exo2-SemiBoldCondensed.svg') format('svg'); font-weight: normal; font-style: normal;}

@font-face { font-family: "TahomaRegularfont"; src: url("../fonts/TahomaRegularfont.eot"); src: url("../fonts/TahomaRegularfont.eot?#iefix") format("embedded-opentype"), url("../fonts/TahomaRegularfont.otf") format("opentype"), url("../fonts/TahomaRegularfont.svg") format("svg"),
        url("../fonts/TahomaRegularfont.ttf") format("truetype"), url("../fonts/TahomaRegularfont.woff") format("woff"), url("../fonts/TahomaRegularfont.woff2") format("woff2");
      font-weight: normal; font-style: normal;}

@font-face { font-family: "Calibri-Light"; src: url("../fonts/Calibri-Light.svg#Calibri-Light") format("svg"), url("../fonts/Calibri-Light.ttf") format("truetype"), 
  url("../fonts/Calibri-Light.woff") format("woff"); src: url("../fonts/Calibri-Light.eot"); src: url("../fonts/Calibri-Light.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/Calibri-Light.woff2") format("woff2"); font-weight: normal; font-style: normal; }



a:hover, a:focus{text-decoration:none;}
button:focus, a:focus{outline:0!important;}
body p { font-family: "Calibri-Light"; color:#515151; padding-bottom:10px; margin-bottom: 0; line-height: 1.2rem; font-size: 1.03rem;}
h3{font-family:"Gotham-Bold";}
iframe{border: 0px;}
.col-am{color:#fce70b;}
.col-b{color:#FFFFFF !important;}
.col-n{color:#1f1f1f !important;}
.col-azul1{color:#5374A8;}
.col-cel{color:#27ACC2;}
.col-gris{color:#6D6E70;}
.col-concurso{color: #8A13A5;}
.color-texto-gris-oscuro {color: var(--maingrisOscuro);}
.bg-concurso{background-color:#7B973F;}
.border-concurso{border-bottom:5px solid #4e6b1b;}
.bg-gris{background-color: #606060;}
.bg-n{background-color: #1f1f1f;}
.bg-crema{background-color:#FDEBBF;}
.bg-concurso-light{background-color: #e0edd1;}
.fontSize-1-1rem {font-size: 1.1rem;}
.font-size-0-1rem{font-size:0.7rem;}
.font-size-1rem{font-size:1rem;}
.font-size-2rem{font-size:2.2rem;}
.font-size-3rem{font-size:3.5rem;}
.font-size-7rem{font-size:7.2rem;}
.font-Exo2-LightCondensed{font-family: 'Exo2-LightCondensed';}
.font-Exo2-SemiBoldCondensed{font-family: 'Exo2-SemiBoldCondensed';}
.breadcrumb{background-color:transparent !important;}
#accordion{width:100%;}
#accordion .card{margin-bottom:1.1rem;}

/*---new in */
.banner-prueba { background-image: url(../imagenes/banner-concurso-eureka-2022.jpg); background-size: cover; background-repeat: no-repeat; background-position: center center; /*height: calc(50vh);*/ min-height: 300px; position: relative;}

.banner { background-image: url(../imagenes/banner-ciencia-texnologia-eureka.jpg); background-size: cover; background-repeat: no-repeat; background-position: center center; /*height: calc(50vh);*/ min-height: 400px; position: relative;}
.breadcrumb-item a { color: #ffffff; font-family: 'Exo2-LightCondensed';}
.logo-central {position: absolute; top: 0;left: 0;right: 0;bottom: 0;margin: auto;z-index: 9;}

ul.lista-jma li{list-style: url(../imagenes/vineta-ciencia-tecnologia.png);font-size: 19px; color: #4D4D4D;} 
ul.lista-sub-jma, ol.lista-letras {padding-left: 1rem;}
ul.lista-sub-jma li { list-style: disc; color: #7b973f; font-size: 14px;}
ul.lista-sub-jma li p { color: #4d4d4d; font-size: 1rem;}
ol.lista-letras li { list-style: lower-alpha; font-size: 1.1rem; color: #618018; font-family: "Calibri-Light"; font-weight: bold;}
ol.lista-letras li p { font-weight: initial; }

table.table-principal p { text-align: center; padding-bottom: 0; line-height: 1rem;}
table.table-principal ul li p{padding-bottom: 0; text-align: left;}
table.table-principal ul{margin-left: 1.5rem;}

table.table-principal thead tr th:first-child { border-top-left-radius: 10px;}
table.table-principal thead tr th:last-child { border-top-right-radius: 10px; border-right: none;}
table.table-principal thead tr th { background: #f8be2a; color: #fff; padding: 7px 12px; border: 0; font-family: 'Exo2-SemiBoldCondensed'; border-right: 1px solid #8a13a5;}
table.table-principal tbody tr td { border: 1px solid #618018; vertical-align: middle;}

table.table-jma-crono tr td {padding: 0.5rem 1rem;}


a.arg { width: 100px; height: 100px;  -moz-border-radius: 50%; -webkit-border-radius: 50%;  border-radius: 50%; background: #a9958c;  display: inline-block;}
a:hover.arg { background: #7B973F;}
a.arg img { margin: 0 auto; display: block; padding: 21px 0 0 0;}

.acordeon-ganadores h5 {font-family: 'Exo2-SemiBoldCondensed'; color:#ffffff;}
.acordeon-ganadores .card {border: 0 !important;}
.acordeon-ganadores .card-header { border-radius: 2rem; }
.acordeon-ganadores .card-body p { font-size: 0.9rem;}
a:hover.link{text-decoration: underline; color: #8a13a5;}


.menu-bg ul { margin: 0 auto; padding-top: 3rem;}
.menu-bg ul li { border-right: 1px solid #cfcfcf; vertical-align: middle; line-height: 1.1rem; height: 33px; padding:0 3rem; list-style: none; font-family: 'Exo2-SemiBoldCondensed'; font-size: 1.1rem; text-align: center; }
.menu-bg ul li:last-child {border-right:0;}
.menu-bg ul li a{color: #4d4d4d; display: block; font-size: 19px;}
.menu-bg ul li a.active, .menu-bg ul li a:hover { color: #7B973F;}
.menu-bg .e-menu { padding-top: 7px !important;}
footer { background-color: #7B973F; min-height: 10px;}
.bg-verde {background-color: #618114;}

.subrayado{border-bottom: 1px solid #838382;}

@media (min-width:0px) and (max-width:992px){
  .menu-bg ul li{padding: 0 2.5rem;}
  .img-formato { max-width: 100%; height: auto;}
}
@media (min-width:0px) and (max-width:770px){
.menu-bg { height: auto; }
.menu-bg ul {padding-bottom: 0rem;}
.menu-bg ul li{padding: 0.5rem; border-bottom: 1px solid #edebeb; border-right:0; height: auto;width: 100%; line-height: inherit;}
.menu-bg ul li a br{display: none;}
.menu-bg .e-menu {padding-top: 0px !important; }
}
@media (min-width:0px) and (max-width:750px){
  .menu-bg{background-color: inherit !important;}
  table.table-principal thead tr th {font-size: 0.8rem;}

}

@media (min-width:0px) and (max-width:550px){

  .banner {padding: 1rem 0.5rem 5rem 0.5rem;}
  table.table-principal ul { margin-left: 1rem !important;}
}
@media (min-width:0px) and (max-width:480px){
  .menu-bg { height: auto; }
  .menu-bg ul li{padding: 0.5rem; border-bottom: 1px solid #edebeb; border-right:0; height: auto;width: 100%; line-height: inherit;}
  .menu-bg ul li a br{display: none;}
  .menu-bg .e-menu {padding-top: 0px !important; }
  table.table-jma-crono tr td { padding: 0.5rem;}
}

/*---new in */
